<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../CSS/studentDashboard.css">
    <link rel="stylesheet" href="../CSS/adminDashboard.css">
</head>

<body>
    <div style="color: white;">
        <%= reviewSuccess %>
    </div>
    <div class="image-bg">
        <img src="../images/nith_img.jpg" alt="">
    </div>
    <div class="app">
        <div class="header">
            <div class="header-menu">Welcome to Admin Panel</div>
            <div class="header-profile">
                <div class="searchbar">
                    <form action="">
                        <input type="text" placeholder="Search for Student or Roll No.">
                    </form>
                </div>
                <form action="/admin/logout" method="post">
                    <button type="submit" class="logout">
                        <img src="../images/logout.png" alt="">
                    </button>
                </form>
            </div>
        </div>
        <form action="" class="filter">
            <p>Filters:</p>
            <select name="branch" id="course">
                <option value="" selected disabled>Filter by Branch Name</option>
                <option value="Architecture">Architecture</option>
                <option value="Computer Science and Engineering">Computer Science and Engineering</option>
                <option value="Civil Engineering">Civil Engineering</option>
                <option value="Chemical Engineering">Chemical Engineering</option>
                <option value="Electronics & Communication Engineering">Electronics & Communication Engineering</option>
                <option value="Electrial Engineering">Electrial Engineering</option>
                <option value="Mechanical Engineering">Mechanical Engineering</option>
                <option value="Material Science and Engineering">Material Science and Engineering</option>
                <option value="Mathematics and Scientific Computing">Mathematics and Scientific Computing</option>
                <option value="Engineering Physics">Engineering Physics</option>
            </select>
            <select name="year" id="year">
                <option value="" disabled selected> Filter by Year of Study*</option>
                <option value="2021">1st</option>
                <option value="2022">2nd</option>
                <option value="2023">3rd</option>
                <option value="2024">4th</option>
                <option value="2025">5th</option>
            </select>
            <select name="programme" id="programme">
                <option value="" selected disabled>Filter by Programme</option>
                <option value="B.Tech">B.Tech</option>
                <option value="B.Arch">B.Arch</option>
                <option value="B.Tech+M.Tech(Dual Degree)">B.Tech+M.Tech(Dual Degree)</option>
            </select>
            <select name="application_status" id="application_status">
                <option value="0">Show all Applications</option>
                <option value="1" selected>Show only unread Applications</option>
                <option value="2">Show only accepted Applications</option>
                <option value="3">Show only rejected Applications</option>
            </select>
            <button class="content-button status-button">Apply filter</button>
        </form>
        <div class="wrapper">
            
            <table class="main-container">
                <tr class="main-header">
                    <th class="heading">Roll No.</th>
                    <th class="heading">Student Name</th>
                    <th class="heading">Branch</th>
                    <th class="heading">Year</th>
                    <th class="heading">Programme</th>
                    <th class="heading">Application</th>
                </tr>
                <% for( let i = 0; i < data.length ; i++ ) {%>     
                    <tr class="main-header datarow">
                        <td class="data"><%= data[i].student_roll_number %></td>
                        <td class="data"><%= data[i].student_name %></td>
                        <td class="data"><%= data[i].student_branch %></td>
                        <td class="data"><%= data[i].student_year %></td>
                        <td class="data"><%= data[i].student_programme %></td>
                        <td class="data">
                            <button class="content-button status-button" onClick="window.location.href='/admin/application/<%= data[i].application_id %>';">View Application</button>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</body>

</html>